---
interface Props {
  title: string;
  image?: string;
  description: string;
}

const { title, description, image = "/static/og.png" } = Astro.props;

import "../styles/global.css";
import "../styles/erode.css";
import "../styles/inter.css";

import Nav from "../components/Nav.astro";
import { ViewTransitions, fade } from "astro:transitions";

const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions transition:animate={"fade"} />

    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Lalit" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic"
      rel="stylesheet"
    />
  </head>
  <body class="selection:text-blue-400 selection:bg-green-500/10">
    <Nav />
    <main class="max-w-4xl mx-auto px-5 py-2 mt-32 pb-10">
      <script>
        document.addEventListener("astro:page-load", () => {
          const scriptTag = document.querySelector("#stats.lalit.sh");
          console.log(scriptTag);
          if (scriptTag) {
            scriptTag.remove();
            document.querySelector("head")?.appendChild(
              Object.assign(document.createElement("script"), {
                defer: true,
                id: "stats.lalit.sh",
                src: "https://stats.lalit.sh/script.js",
                "data-website-id": "6fc9b94d-5a26-4752-812a-868bed59b2a0",
              })
            );
          }
        });
      </script>
      {
        isProd && (
          <script
            defer
            id="stats.lalit.sh"
            src="https://stats.lalit.sh/script.js"
            data-website-id="6fc9b94d-5a26-4752-812a-868bed59b2a0"
          />
        )
      }
      <slot />
    </main>
    <style>
      html {
        @apply bg-zinc-950 text-zinc-400 antialiased;
      }

      body::after {
        content: "";
        @apply w-full bg-gradient-to-t from-zinc-950 to-transparent h-16 fixed bottom-0;
      }

      :root {
        font-feature-settings:
          "liga" 1,
          "calt" 1,
          "cv11" 1,
          "zero",
          "cv08" 1;
      }
    </style>
  </body>
</html>
